C:Userscabj1AppDataLocalTempnvim.0Aqaos710
C:Userscabj1AppDataLocalTempnvim.0Aqaos712
C:Userscabj1AppDataLocalTempnvim.0Aqaos714
C:Userscabj1AppDataLocalTempnvim.0Aqaos716
C:Userscabj1AppDataLocalTempnvim.0Aqaos718
C:Userscabj1AppDataLocalTempnvim.0Aqaos72
C:Userscabj1AppDataLocalTempnvim.0Aqaos720
C:Userscabj1AppDataLocalTempnvim.0Aqaos722
C:Userscabj1AppDataLocalTempnvim.0Aqaos724
C:Userscabj1AppDataLocalTempnvim.0Aqaos726
C:Userscabj1AppDataLocalTempnvim.0Aqaos728
C:Userscabj1AppDataLocalTempnvim.0Aqaos730
C:Userscabj1AppDataLocalTempnvim.0Aqaos732
C:Userscabj1AppDataLocalTempnvim.0Aqaos734
C:Userscabj1AppDataLocalTempnvim.0Aqaos74
C:Userscabj1AppDataLocalTempnvim.0Aqaos76
C:Userscabj1AppDataLocalTempnvim.0Aqaos78
undodir/
